.container{
    max-width: 1280;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-content{
    width: 50%;
    align-items: center;
}

.section-content h1{
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
    animation: all 0.9s ease;
}
@keyframes all {
    0%{
       
    }
    50%{
         
    }
    100%{
        
      
    }
    
}
    .section-content p{
        /* text-align: center; */
        font-size: 20px;
        margin: 20px;
        font-weight: 500;
        color: grey;
    }

.section-image{
    width: 300px;
    height: 300px;
    display: flex;
    /* justify-content: center; */

}
 .section-content button{
     all: unset;
    padding: 6px 16px;
    background:red;
    color: white;
    height: 32px;
    font-weight: 400px;

}
.section-btn{
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 40px;

}